html, body {
    height: 100%;
    margin: 0; 
    padding: 0; 
    display: flex; 
    flex-direction: column; 
}

.content {flex: 1;}


body {background-image: url('images/repair.jpeg');
background-size: cover;
background-position: center;
background-repeat: no-repeat;
margin: 0;
height: 100vh}

footer { 
    text-align: center; 
    padding: 5px 0; 
    background-color: #f3f3f3;}
